{% extends 'base.html.twig' %}
{% block body %}
    <button class="pure-button">Testing twig</button>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="js/home.js"></script>
{% endblock %}